@page "/budgets/{id}"

@if (Budget?.Values is object)
{
	<h3>@DateTimeHelper.GetMonthYearDateString(Budget.StartDate)</h3>

	<EditForm Model="@BudgetToAdd" OnValidSubmit="@AddCategoryBudget">
		<DataAnnotationsValidator/>
		<ValidationSummary/>
		<InputSelect id="expense-category" @bind-Value="@BudgetToAdd.CategoryId">
			<option value="0">–Select a category–</option>
			@foreach (var category in AvailableCategories)
			{
				<option value="@category.Id">@category.Name</option>
			}
		</InputSelect>
		<label for="budget-value">Value:</label>
		<InputNumber id="budget-value" @bind-Value="@BudgetToAdd.Value" />
		<button type="submit">Add budget</button>
	</EditForm>


	@foreach (var categoryInfo in Budget.Values)
	{
		<p>@categoryInfo.Key: @categoryInfo.Value.Value</p>
	}
}
