@page "/expenses"
@using Contador.Web.Client.Components
@inject HttpClient Http


<h3>Add new expense</h3>

<EditForm Model="@expenseModel" OnValidSubmit="@AddNewExpense">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<label for="expense-name">Name:</label>
	<InputText id="expense-name" @bind-Value="@expenseModel.Name" />

	<label for="expense-value">Value:</label>
	<InputNumber id="expense-value" @bind-Value="@expenseModel.Value" />


	<label for="expense-category">Category:</label>
	<InputSelect id="expense-category" @bind-Value="@expenseModel.CategoryId">
		<option value="0">–Select a category–</option>
		@foreach (var category in categories)
		{
			<option value="@category.Id">@category.Name</option>
		}
	</InputSelect>

	<label for="expense-description">Description:</label>
	<InputText id="expense-description" @bind-Value="@expenseModel.Description" />

	<button type="submit">Add expense</button>
</EditForm>

@if (expenses.Count > 0)
{
	<h3>Expenses</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Value</th>
				<th>User</th>
				<th>Category</th>
				<th>Description</th>
				<th>Date</th>
				<th>Transaction</th>
				<th>Image</th>
				<th></th>

			</tr>
		</thead>
		<tbody>

			@foreach (var expense in expenses)
			{
				<tr>
					<ExpenseComponent Expense="expense" />
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p>No expense found</p>
}
