@page "/expenses"
@using Contador.Web.Client.Components
@inject HttpClient Http
<AuthorizeView>
	<Authorized Context="Auth">
		<h3>Add new expense</h3>

		<EditForm Model="@AddExpenseModel" OnValidSubmit="@AddNewExpense">
			<DataAnnotationsValidator />
			<ValidationSummary />

			<label for="expense-name">Name:</label>
			<InputText id="expense-name" @bind-Value="@AddExpenseModel.Name" />

			<label for="expense-value">Value:</label>
			<InputNumber id="expense-value" @bind-Value="@AddExpenseModel.Value" />


			<label for="expense-category">Category:</label>
			<InputSelect id="expense-category" @bind-Value="@AddExpenseModel.CategoryId">
				<option value="0">–Select a category–</option>
				@foreach (var category in Categories)
				{
					<option value="@category.Id">@category.Name</option>
				}
			</InputSelect>

			<label for="expense-description">Description:</label>
			<InputText id="expense-description" @bind-Value="@AddExpenseModel.Description" />

			<button type="submit">Add expense</button>
		</EditForm>

		<h3>Search expenses</h3>
		<EditForm Model="@SearchExpense" OnValidSubmit="@SearchExpenses">
			<label for="expense-name">Name:</label>
			<InputText id="expense-name" @bind-Value="@SearchExpense.Name"/>
			<label for="category-name">Category name:</label>
			<InputText id="category-name" @bind-Value="@SearchExpense.CategoryName"/>
			<label for="user-name">User name:</label>
			<InputText id="user-name" @bind-Value="@SearchExpense.UserName"/>
			<label for="created-date-from">Created at:</label>
			<InputDate id="created-date-from" @bind-Value="@SearchExpense.StartDate"/>
			<label for="created-date-to">to:</label>
			<InputDate id="created-date-to" @bind-Value="@SearchExpense.EndDate"/>
			<button type="submit">Search</button>
		</EditForm>


		@if (ExpensesList.Count > 0)
		{
			<h3>Expenses</h3>
			<label for="filter">Filter:</label>
			<input type="text" id="fitler" @bind-value="@Filter" @bind-value:event="oninput"/>
			<table class="table">
			<thead>
			<tr>
			 <th @onclick="@(() => SortBy("Name"))">Name</th>
			 <th @onclick="@(() => SortBy("Value"))">Value</th>
			 <th @onclick="@(() => SortBy("User"))">User</th>
			 <th @onclick="@(() => SortBy("Category"))">Category</th>
			 <th>Description</th>
			 <th @onclick="@(() => SortBy("CreateDate"))">Date</th>
			 <th>Transaction</th>
			 <th>Image</th>
			</tr>
			</thead>
			<tbody>
				@foreach (var expense in ExpensesList)
				{
					if (!IsVisible(expense))
						continue;
					<tr>
						<ExpenseComponent Expense="expense" OnExpenseRemoved="@RemoveExpenseFromExpenseList" />
					</tr>
				}
			</tbody>
			</table>
		}
		else
		{
			<p>No expense found</p>
		}
	</Authorized>
	<NotAuthorized>
		<h3>You have to log in first.</h3>
	</NotAuthorized>
</AuthorizeView>
