@page "/"

@if (Report is object)
{
	<h3>Monthly totals:</h3>
	<p>Total: @Report.ExpensesTotal zł</p>
	@foreach(var categoryTotal in @Report.CategoriesTotals)
	{
		<p>@categoryTotal.Key: @categoryTotal.Value zł</p>
	}
	<h4>Monthly percentage:</h4>
	@foreach(var categoryPercentage in @Report.CategoriesPercentages)
	{
		<p>@categoryPercentage.Key: @categoryPercentage.Value%</p>
	}
}
