<td>@Expense.Name</td>
<td>@Expense.Value</td>
			@if (Expense.User is null)
{
	<td>Not found</td>
}
else
{
	<td>@Expense.User.Name</td>
}
<td>@Expense.Category.Name</td>
<td>@Expense.Description</td>
<td>@Expense.CreateDate.ToString("dd.MM.yyyy")</td>
<td>Not implemented</td>
<td>Not implemented</td>
